.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:gray;
    flex-wrap: wrap;
    padding: 10px;
}
.logo,
nav,
.account{
    flex-shrink: 0;
    color: #fff;
    font-size: 26px;
}
.dropdown{
    position: relative;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    /* Position it right below the trigger element */
	display: none;
	padding-top: 4px;
	position: absolute;
	top: 100%;

	/* It should be on the top of other elements */
	background-Color: #FFF;
	z-index: 9999;

	/* Size */
	width: 200px;
}

.dropdown-content a{
    display: block;
    padding: 5px;
}

.flx-main-items{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

img{
    height: 250px;
    width: 300px;
}

/* Product list section */
.grd-items{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows:350px ;
    row-gap: 10px;
    column-gap: 5px;
    justify-content: center;
}


/* First Item */
.item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:3;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:3;
}
.item3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:3;
}
.item4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end:4;
}
.item5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end:4;
}

aside{
    width: 25%;
}

article{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}
article h2{
    text-align: center;
    font-size: 34px;
    font-weight: 900;
}
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.nav-item{
    display: inline;
    margin-right: 5px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.breadcrumb{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.separator{
    margin: 0 8px;
}

a{
    text-decoration: none;
}
footer{
    background-color: gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}